@mixin animation {
    animation-name: slidein;
    animation-duration: 3s;
}

@mixin keyframes {

    @keyframes slidein {

        from {
            //top: -80%;
            // width: 10%;

            opacity: 0;

        }

        to {
            //width: 100%;;
            opacity: 0.5;
        }
    }

}