$background-color-body: white;
$color-h1-header: black;
$background-color-menu: #c4c4c4;
$color-a-menu: black;
$color-h2: teal;
$background-color-tabla-child: rgb(253, 230, 228);
$tr-border-bottom: #dddddd;
$tr-border-bottom-last-of-type: salmon;
$background-color-th: coral;
$background-color-formulario: rgb(253, 230, 228);
$hover-pedido: palevioletred;