@import 'webkit-mixin';

@mixin mobile {
    @media only screen and (max-width: 426px) {

        /* Inicio Estilo mobile Sección Productos*/
        .imagenes-presentaciones {
            img {
                margin: 5px;
            }
        }

        .descripcion-caja {
            max-width: 30% !important;

            p {
                font-size: $font-size-mobile;
            }
        }

        /* Fin Estilo mobile Sección Productos*/

        /*Estilos mobile Sección Precios*/
        .tabla-precios {
            .tabla {
                min-width: 200px;
            }
        }

    }
}

@mixin tablet {
    @media only screen and (min-width: 427px) and (max-width: 960px) {
        /*Estilo tablet Sección Producto*/
        .descripcion-caja {
            max-width: 30% !important;
        }
    }
}

@mixin desktop {
    @media only screen and (min-width:961px) {

        /*Estilo desktop navbar*/
        li {
            a {
                color: $color-a-menu;
                text-decoration: none;

                &:after {
                    content: "";
                    display: block;
                    margin: auto;
                    height: 1.5px;
                    width: 0px;
                    transition: all .8s;
                }

                &:hover:after {
                    width: 100%;
                    background: #333;
                }
            }
        }

        /*Estilos desktop Sección Productos*/
        .producto {
            &:hover {
                @include transform ();
                @include transition ();
            }
        }

        /*Estilos desktop Sección Contacto*/
        .datos-contacto {
            max-width: 800px;
        }
    }
}